        @font-face {
            font-family: NotoSansTC;
            src: url(../fonts/NotoSansTC-Regular.otf);
        }
        
        @font-face {
            font-family: NotoSansTC-Light;
            src: url(../fonts/NotoSansTC-Light.otf);
        }
        
        @font-face {
            font-family: NotoSansTC-Medium;
            src: url(../fonts/NotoSansTC-Medium.otf);
        }
        a:link {
            /*設定還沒有瀏覽過的連結*/
            text-decoration: none;
            color: #955E36;
        }
        
        a:visited {
            /*設定已經瀏覽過的連結*/
            color: #955E36;
        }
        
        a:hover {
            /*設定滑鼠移經的連結*/
            text-decoration: underline;
            /*background-color:#fafafa;*/
            color: #F99500;
        }
        
        a:active {
            /*設定正在點選的連結*/
            text-decoration: none;
            background-color: #F99500;
            color: #fafafa;
        }
        
        html {
            display: block;
            color: -internal-root-color;
        }
        
        html,
        body {
            zoom:0.8;
            margin: 0;
            padding: 0;
            min-width: 1280px;
            min-height: 500px;
        }
        
        body {
            zoom: 0.8;
            height: 100%;
            min-width: 1280px;
            min-height: 500px;
            background-color: #FCF7F3;
            width: auto;
            text-align: center;
        }
        
        .header {
            position: relative;
            width: 100%;
            height: 500px;
            display: inline-block;
            background-image: url(../img/cover.jpg);
            background-repeat: no-repeat;
            background-attachment: local;
            background-position: 50% 50%;
            background-size: cover;
        }
        
        .margin_wrapper {
            position: relative;
            margin: 0 auto;
            width: 1280px;
            min-width: 1280px;
        }
        
        .logo,
        .logo>img {
            width: 150px;
            height: 150px;
            display: flex;
            align-items: left;
        }
        
        .header .logo {
            position: absolute;
            top: 32px;
            left: 84px;
        }
        
        .login {
            position: absolute;
            top: 15px;
            right: 26px;
            height: 20px;
            font-family: "NotoSansTC-Light";
            font-size: 18px;
            text-align: center;
            color: #7a7a7a
        }
        
        .btn_login:hover {
            text-decoration: underline;
            cursor: pointer;
        }
        
        .btn_login {
            outline: none;
            background: transparent;
            border: 0;
            font-family: "NotoSansTC";
            font-size: 18px;
            color: #7a7a7a;
        }
        
        .search_group {
            margin: auto;
            position: absolute;
            top: 405px;
            left: 84px;
        }
        
        .search {
            widows: 550px;
            height: 40px;
            display: inline-flex;
        }
        
        .search_box {
            border: 0;
            padding: 0;
            width: 500px;
            height: 40px;
            line-height: 1.5em;
            border: 1px #888888 solid;
            border-radius: 4px;
        }
        
        input {
            box-sizing: border-box;
            padding: 9px !important;
            font-family: "NotoSansTC";
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            outline: none;
        }
        
        input::placeholder {
            padding: 9px 14px;
            font-family: "NotoSansTC";
            font-style: normal;
            font-weight: normal;
            box-sizing: border-box;
            font-size: 18px;
            color: #888888;
        }
        
        .search_button {
            position: relative;
            right: 3px;
            width: 50px;
            height: 40px;
            padding: 0;
            border: 0;
            color: #fff;
            background-color: #F99500;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 3px;
            outline: none;
            cursor: pointer;
        }
        
        .button_div {
            display: inline-flex;
            position: absolute;
            right: 91px;
            top: 395px;
        }
        
        .button {
            justify-content: space-between;
            width: 120px;
            height: 40px;
            margin: 10px;
            padding: 0;
            border: 0;
            font-family: "NotoSansTC";
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            color: #fff;
            background-color: #F99500;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            cursor: pointer;
            outline: none;
        }
        
        .button:hover {
            color: #F99500;
            background-color: #FFF;
        }
        
        .button_back {
            font-size: 24px;
            width: 100px;
            height: 50px;
            color: #FFF;
            background-color: #F99500;
            border: 1px #F99500 solid;
            margin-top: 50px;
        }
        
        .button_back:hover {
            color: #F99500;
            background-color: #fff;
        }
        
        .body {
            width: 100%;
            height: 2508px;
        }
        
        .footer_box>.logo {
            position: absolute;
            margin-top: 18px;
        }
        
        #tri {
            font-size: 25px;
        }
        
        #list_size {
            width: 175px;
            text-align: left;
        }
        
        #list_title {
            min-width: 150px;
            min-height: 40px;
            font-family: "NotoSansTC";
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 42px;
            color: rgba(56, 56, 56, 0.8);
        }
        
        .list_content {
            padding-top: 20px;
            padding-left: 25px;
        }
        
        #list_text {
            width: 50px;
            height: 30px;
            text-align: left;
            margin-bottom: 7px;
            font-family: "NotoSansTC-Light";
            font-size: 24px;
            line-height: 28px;
            color: #7A7A7A;
        }

        .social_share{
            outline: none;
            cursor: pointer;   
        }
        .social_share:hover{
            transition: box-shadow .25s;
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        
        .footer {
            height: 370px;
            background: #FFCF86;
        }
        
        .footer_box {
            position: relative;
            top: 37px;
            margin: 37px 268px 6px 170px;
            width: 842px;
            height: 327px;
        }
        
        .footer_list_wrapper {
            display: inline-flex;
            float: right;
        }
        
        .footer_list_wrapper>li {
            margin-bottom: 5px;
            padding-left: 126px;
            font-family: "NotoSansTC";
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            color: #5A2804;
        }
        
        .footer_list_content {
            padding: 0;
            font-family: "NotoSansTC-Light";
            font-size: 18px;
            line-height: 21px;
            color: #955E36;
        }
        
        .footer_list_content>li {
            margin-top: 15px;
        }
        
        #login_or_register {
            position: relative;
            left: 3.5px;
        }
        
        ul {
            list-style-type: none;
        }
        
        .copyright {
            position: absolute;
            right: 211px;
            bottom: 0;
            width: 322px;
            height: 26px;
            font-family: "NotoSansTC";
            font-size: 18px;
            line-height: 21px;
            color: #955E36;
        }
        
        .footer_btn {
            width: 40px;
            height: 40px;
            padding: 2px;
            border: 1px solid #5A2804;
            box-sizing: border-box;
            border-radius: 5px;
            background: #FFCF86;
            position: absolute;
            bottom: 104px;
            outline: none;
            cursor: pointer;
        }

        .footer_btn:hover {
            border: 1px solid #5A2804;
            background: #F99500;
        }
        
        .footer_btn>img {
            width: 35px;
            height: 35px;
        }
        
        #Facebook {
            left: 0;
        }
        
        #Instagram {
            left: 55px;
        }
        
        #Twitter {
            left: 110px;
        }
        
        #suggestion {
            position: absolute;
            left: 0;
            bottom: 49px;
            width: 150px;
            height: 40px;
        }
        
        #suggestion>img {
            float: left;
        }
        
        #suggestion>span {
            position: relative;
            bottom: 2px;
            display: inline-block;
            font-family: "NotoSansTC-Light";
            font-size: 18px;
            line-height: 21px;
            padding: 8px 0 8px 0;
            color: #5a2804
        }
        
        .title {
            position: relative;
            width: 1000px;
            height: 500px;
            background: #FFFFFF;
            border: 1px solid #888888;
            box-sizing: border-box;
            border-radius: 5px;
            margin: 94px 140px 0;
        }
        
        .title_icon_wrapper {
            position: absolute;
            left: 30px;
            top: 33px;
            display: inline-flex;
            justify-content: space-between;
            width: 350px;
            height: 30px;
        }
        
        .title_icon {
            position: relative;
            width: 80px;
            height: 30px;
            border: 1px solid;
            box-sizing: border-box;
            border-radius: 5px;
            font-family: "NotoSansTC";
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
        }

        .title_icon:hover span{
            cursor: pointer;
            color:#FFF;
        }
        
        .title_icon>span {
            width: 40px;
            height: 18px;
            position: absolute;
            right: 5px;
            bottom: 6px;
        }
        
        .title_icon>img {
            position: absolute;
            left: 0;
            width: 30px;
            height: 30px;
        }
        
        .title_icon_wrapper>#Facebook {
            color: #3F51B5;
            border-color: #3F51B5;
        }
        .title_icon_wrapper>#Facebook:hover {
            background-color: #3F51B5;
        }
        #Facebook_text:hover {
            color: #FFF;
        }
        
        .title_icon_wrapper>#Line {
            color: #00C300;
            border-color: #00C300;
        }
        .title_icon_wrapper>#Line:hover {
            background-color: #00C300;
        }
        #Line_text:hover{
            color: #FFF;
        }
        
        .title_icon_wrapper>#Messenger {
            color: #448AFF;
            border-color: #448AFF;
        }
        .title_icon_wrapper>#Messenger:hover {
            background-color: #448AFF;
        }
        #Messenger_text:hover {
            color: #FFF;
        }
        
        .title_icon_wrapper>#Print {
            color: #000000;
            border-color: #000000;
        }
        .title_icon_wrapper>#Print:hover {
            background-color: #000000;
        }
        #Print_text:hover {
            color: #FFF;
        }
        
        .collection {
            position: absolute;
            top: 18px;
            right: 28.5px;
            size:80%;
            cursor: pointer;
            /*width: 100px;
            height: 50px;
            border: 1px solid #F99500;
            box-sizing: border-box;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;*/
        }
        
        .collection>img {
            position: relative;
            bottom: 18px;
            right: 27.13px;
            width: 80px;
            height: 80px;
        }
        
        .collection>span {
            position: absolute;
            top: 11.25px;
            right: 11.87px;
            font-family: NotoSansTC;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            color: #F99500;
        }
        
        #author {
            position: absolute;
            top: 38px;
            right: 203px;
            font-family: NotoSansTC;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            color: #F99500;
        }
        
        #description_wrapper {
            width: 420px;
            height: 270px;
            position: absolute;
            top: 151px;
            right: 65px;
        }
        
        .description {
            font-family: NotoSansTC;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            color: #2D2D2D;
            text-align: left;
        }
        
        #date {
            position: absolute;
            top: 76.5px;
            right: 259.75px;
            font-family: NotoSansTC-Light;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #858585;
        }
        
        .title_img {
            position: relative;
            top: 79px;
            left: 30px;
            width: 400px;
            height: 300px;
        }
        
        .title_img>img {
            width: 400px;
            height: 300px;
        }
        
        #recipe_name {
            position: absolute;
            left: 98px;
            bottom: 46px;
            width: 255px;
            height: 36px;
            font-family: NotoSansTC;
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 42px;
            color: #5A2804;
        }
        
        .material {
            position: relative;
            width: 1000px;
            height: 270px;
            background: #FFFFFF;
            border: 1px solid #888888;
            box-sizing: border-box;
            border-radius: 5px;
            margin: 30px 140px 0;
        }
        
        .material>div {
            display: inline-flex;
        }
        
        #Top_wrapper {
            width: 1000px;
            height: 81px;
        }
        
        .main_content {
            margin: 27px 0 32px auto;
            width: 500px;
            font-family: NotoSansTC;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            color: #5A2804;
        }
        
        .borderline {
            border: 1px solid #888888;
            display: block !important
        }
        
        #straight {
            width: 0px;
            height: 55px;
            margin: 13px 0;
        }
        
        #horizon {
            width: 927px;
            height: 0px;
            margin: 0 37px 0 36px;
        }
        
        .material_list_wrapper {
            width: 500px;
        }
        
        .material ul,
        .material li {
            position: relative;
            margin: 0;
            padding: 0;
        }
        
        .material li {
            width: 280px;
            top: 11px;
            margin: 5px auto;
            display: inline-flex;
            justify-content: space-between;
        }
        
        .material_text {
            font-family: NotoSansTC;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            color: #2D2D2D;
        }
        
        .content {
            position: relative;
            width: 1000px;
            height: 1550px;
            background: #FFFFFF;
            border: 1px solid #888888;
            box-sizing: border-box;
            border-radius: 5px;
            margin: 30px 140px 0;
        }
        
        .content_box {
            position: relative;
            margin: 50px 70px 0px 96px;
        }
        
        .content_number {
            width: 50px;
            height: 50px;
            font-family: NotoSansTC;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 42px;
            color: #FFFFFF;
            background: #F99500;
            border-radius: 5px;
        }
        
        .content_text {
            position: absolute;
            top: 5px;
            left: 74px;
            font-family: NotoSansTC;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            text-align: left;
            color: #2D2D2D;
        }
        
        .content_img_box {
            position: relative;
            left: 170px;
            height: 150px;
            margin-top: 20px;
        }
        
        .content_img_box>img {
            position: absolute;
            top: 0;
            left: 0;
            width: 200px;
            height: 150px;
        }
        
        .content_collection {
            left: 458.12px !important;
            top: 1450px !important;
        }
        
        .icon {
            position: relative;
            width: 1000px;
            height: 156px;
            margin: 13px 140px 0;
        }
        
        .icon_box {
            position: absolute;
            right: 0;
            display: inline-flex;
            justify-content: space-between;
            width: 224px;
            height: 50px;
        }
        
        .icon img {
            width: 50px;
            height: 50px;
        }
        